<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card border-primary mb-6 text-center">
            <div class="card-header">Donation via Xsolla</div>
            <div class="card-body">
                <h1 class="card-title">@ViewBag.CurrentUser.Name</h1>
                <h6 class="card-subtitle text-muted">@ViewBag.CurrentUser.TelegramId</h6>
                <p></p>
                <p class="card-text">Above please check your telegram display name when you last played and your telegram ID.</p>
                <a class="btn btn-outline-success" href="https://t.me/werewolfbot?start=donatetg">Donate now!</a>
            </div>
        </div>
    </div>
</div>