@using Database
@using System.Linq
@{
    ViewBag.Title = "Achievements";
}

<section>
    <div class="container">
        <div class="heading-title heading-line-single">
            <h2>Achievements</h2>
        </div>
        @*<ul class="list-unstyled list-links">

            @foreach (AchievementsReworked a in Enum.GetValues(typeof(AchievementsReworked)))
            {
                if (a != AchievementsReworked.OHAIDER && a != AchievementsReworked.None)
                {
                    <text><li><a href="#@a.ToString()" class="scrollTo" data-offset="100"><i class="fa fa-angle-double-right"></i>@a.GetName()</a></li></text>
                }
            }
        </ul>*@
        
        <div class="divider divider-center mt-0 mb-80"><!-- divider -->
            <i class="fa fa-chevron-down"></i>
        </div>
        @foreach (AchievementsReworked a in Enum.GetValues(typeof(AchievementsReworked)))
        {
            if (a != AchievementsReworked.OHAIDER && a != AchievementsReworked.None)
            {
                <text>
                    <h2 id="@a.ToString()" class="" style="margin-bottom: 5px"><span>@a.GetName()</span></h2>
                    <p style="margin-bottom: 0">
                        @a.GetDescription()
                    </p>

                    <div class="divider divider-border divider-right" style="margin: 0"><!-- divider -->
                        <a class="scrollTo" href="#wrapper" data-offset="-110">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </text>
            }
        }
    </div>
</section>
