@using Database
@{
    ViewBag.Title = "Home Page";
}



<!-- SLIDER -->
<section id="slider" class="fullheight parallax parallax-4"></section>
@*<section id="mslider1" class="fullheight">
    <img src='/images/mob_banner 1.png' style="width: 100%"/>
</section>
<section id="mslider2" class="fullheight">
    <img src='/images/mob_banner 2.png' style="width: 100%"/>
</section>*@
<!-- /SLIDER -->
<!-- CALLOUT -->
<section class="callout-dark heading-title heading-arrow-bottom" style="z-index:100;">
    <div class="container">

        <div class="text-center">
            <h3 class="size-30">One small village.  Treachery, Deception, Murder.</h3>
            <p>Can you find the werewolves before it's too late?</p>
        </div>

    </div>
</section>
<!-- /CALLOUT -->
<!-- FEATURES -->
@{
    int totalPlayers, totalGroups, totalGames, totalDeaths;
    using (var db = new WWContext())
    {
        var counts = db.GlobalStats.First();
        totalPlayers = counts.TotalPlayers ?? 0;
        totalGroups = counts.TotalGroups ?? 0;
        totalGames = counts.GamesPlayed;
        totalDeaths = counts.PlayersKilled;
    }
}
<section id="features">
    <div class="container">

        <header class="text-center margin-bottom-60">
            <h2>Our Features</h2>
            <p class="lead font-lato">What's in store for you</p>
            <hr />
        </header>

        <!-- FEATURED BOXES 3 -->
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover fa fa-users"></i>
                    <h4>Active Community</h4>
                    <p>45.000 daily active users</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-chat"></i>
                    <h4>Dedicated Support Team</h4>
                    <p>A team of well trained werewolves is available 24/7 to <a href="https://telegram.me/werewolfsupport" target="_blank">help</a> you out</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover fa fa-github"></i>
                    <h4>Open Source</h4>
                    <p>All source code is available on <a href="https://github.com/parabola949/Werewolf" target="_blank">GitHub</a></p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-trophy"></i>
                    <h4>Achievements</h4>
                    <p>That's right.  We even have achievements you can earn while playing Werewolf</p>
                </div>
            </div>
        </div>
        <!-- /FEATURED BOXES 3 -->
        <div class="row countTo-md text-center">

            <div class="col-xs-6 col-sm-3">
                <i class="ico-light ico-lg ico-rounded ico-hover fa fa-user"></i>
                <span class="countTo" data-speed="3000">@totalPlayers</span>
                <h5>TOTAL PLAYERS</h5>
            </div>

            <div class="col-xs-6 col-sm-3">
                <i class="ico-light ico-lg ico-rounded ico-hover fa fa-group"></i>
                <span class="countTo" data-speed="3000">@totalGroups</span>
                <h5>TOTAL GROUPS</h5>
            </div>

            <div class="col-xs-6 col-sm-3">
                <i class="ico-light ico-lg ico-rounded ico-hover fa fa-paw"></i>
                <span class="countTo" data-speed="3000">@totalGames</span>
                <h5>GAMES PLAYED</h5>
            </div>

            <div class="col-xs-6 col-sm-3">
                <i class="ico-light ico-lg ico-rounded ico-hover fa fa-bullseye"></i>
                <span class="countTo" data-speed="3000">@totalDeaths</span>
                <h5>PLAYER DEATHS</h5>
            </div>
        </div>
    </div>
</section>
<!-- /FEATURES -->

<script>
    var ul = document.getElementById('topMain');
    var li = document.createElement("li");
    var a = document.createElement("a");
    a.textContent = "Features";
    a.setAttribute('href', "#features");
    li.appendChild(a);
    ul.appendChild(li);
</script>


<style>
    @@media only screen and (min-width: 801px) {
        #slider {
            background-image:url('/images/banner.jpg');
            /*display: block;*/
        }

        /*#mslider1 {
            display: none;
        }

        #mslider2 {
            display: none;
        }*/
    }

    @@media only screen and (max-width: 800px) {
        #slider {
            /*background-image: url('/images/mob_banner 1.png');
            width:100%*/
            display: none !important;
        }

        /*#mslider1 {
            display: block;
            padding: 0;
        }

        #mslider2 {
            display: block;
            padding: 0;
        }*/
    }
</style>